[submodule "lib/extern/mbedtls"]
	path = lib/extern/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "lib/extern/curl"]
	path = lib/extern/curl
	url = https://github.com/curl/curl.git
